*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-content{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-submission{
    margin: 10px;
}

.form-submission input{
    margin-left: 20px;
    align-items: flex-end;
}
